<div class="col-md-6">
  <div class="panel panel-info">
    <div class="panel-heading">
      <h4 class="panel-title">Recipient's wishlist</h4>
    </div>
    <div class="panel-body">
      <h5>You got <%= current_user.recipient.name %>!</h5>
      <dl>
        <dt>Wishlist</dt>
        <dd><%= simple_format(current_user.recipient.wishlist) %></dd>
      </dl>
      <%= image_tag current_user.recipient.photo.url(:medium),
                                                class: "img-responsive" if 
                                        current_user.recipient.photo.exists? %>

    </div>
  </div>
</div>