<%= form_for @user, url: user_path, html: { multipart: true } do |f| %>
        
  <div class="form-group">
    <%= f.text_area :wishlist, placeholder: "Add your wishlist here.." %>
    <%= image_tag @user.photo.url(:thumb), class: "img-thumbnail" if @user.photo.exists? %>
  </div>
  
  <div class="form-group">
    <label>Attachment</label>
    <%= f.file_field :photo %>
  </div>
  
  <%= f.submit "Submit", class: "btn btn-primary" %>

<% end %>