<h1>Participants</h1>
<div class="row">
  <ul class="list-group col-md-4 col-md-offset-4">
    <% @users.each do |user| %>
      <li class="list-group-item text-center"><%= user.name %></li>
    <% end %>
  </ul>
</div>
