<h1><%= @user.name %></h1>
<div class="row">
  <div class="col-md-6">
    <div class="panel panel-primary">
      <div class="panel-heading"><h4 class="panel-title">Your wishlist</h4></div>
      <div class="panel-body">
        <%= render  'wishlist_form' %>
        <% if current_user.admin? %>
        <div>
          <label>Shuffle players?</label>
          <%= button_to  "Shuffle", { action: "shuffle" }, { class: "btn btn-danger" } %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
  <% if !(current_user.recipient_id.nil?) %>
    <%= render 'recipient_panel' %>
  <% end %>
</div>
