<% provide(:title, "About") %>
<h1>About</h1>
<p>
  Can't find the time to meet with friends and draw your secret lucky friend?
  This website helps solve that problem! Sign up now with your friends
  so you can start exchanging gifts.
</p>
