<div class="center jumbotron">
  <h1>Ho ho ho!</h1>
  <p>
    Welcome to the Secret Santa app!
  </p>
  <% unless user_signed_in? %>
    <%= link_to  "Sign up now!", new_user_registration_path, class: "btn btn-lg btn-success" %>
  <% end %>
</div>

