@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* Global */

body { padding-top: 60px }

.jumbotron { 
  width: 60%;
  margin: 10px auto; 
  background-color: rgb(185, 0, 0);
  box-shadow: 0 4px 8px -2px black;
  
  h1, p { 
    color: white;
    text-shadow: 2px 2px 2px black;
  }

  a {
    box-shadow: 0 2px 3px black;
    text-shadow: 1px 1px 2px black;
    transition: 0.3s;
  }
 }

.center { text-align: center; }

/* Header */

.navbar.navbar-default.navbar-fixed-top {
  box-shadow: 0 8px 6px -6px black !important;
  border-bottom: 1px solid black;
}

.navbar {
  background-color: rgb(201, 0, 0);

  a.navbar-brand,
  .navbar-nav li a {
    color: white;
    text-shadow: 0 1px 1px black;
    transition: color 0.3s;
    &:hover, 
    &:active { 
      color: rgb(231, 231, 231);
    }
  }
}

.navbar-toggle.collapsed {
  transition: box-shadow 0.3s;
  &:hover { 
    background-color: rgb(201, 0, 0);
    box-shadow: inset 0 0 5px black;
  }
  &:focus { background-color: rgb(201, 0, 0); }
}

.navbar-default .navbar-toggle { 
  &:focus,
  &:hover { background-color: rgb(201, 0, 0); }
}

.icon-bar { background-color: white !important; }

/* Headings */

h1 {
  text-align: center;
}

/* Error messages from Devise */

.alert-notice {
  @extend .alert-success;
}

.alert-alert {
  @extend .alert-danger;
}

#error_explanation {
  color: red;
  ul {
    color: #d9534f;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

/* Input */

form {
  margin-bottom: 10px;
  
  input[type=submit] { 
    width: 100%; 
    transition: 0.2s;
  }

  textarea { 
    height: 150px;
    width: 100%;
    resize: none;
    padding: 5px;
  }
}

/* Debugger */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* Footer */

footer {
  margin-top: 40px;
  padding-top: 10px;
  border-top: 1px solid #eaeaea;
  color: #777;
}