<header>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <%= link_to  "Secret Santa", root_path, class: "navbar-brand" %>
        <button type="button" class="collapsed navbar-toggle" data-toggle="collapse" data-target="#collapsible-navbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      
      <div class="collapse navbar-collapse" id="collapsible-navbar">
        <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>
            <li><%= link_to current_user.name, current_user %></li>
            <li><%= link_to  "Participants", users_path %></li>
          <% else %>
            <li><%= link_to  "Home", root_path %></li>
          <% end %>
          <li><%= link_to  "About", about_path %></li>
          <% if user_signed_in? %>
            <li><%= link_to  "Sign Out", destroy_user_session_path, method: :delete %></li>
          <% else %>
            <li><%= link_to  "Sign In", new_user_session_path %></li>
          <% end %>
        </ul>
      </div>
    </div> <!-- container-fluid -->
  </nav>
</header>